<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>TD3</title>
    <script src="angular.min.js"></script>
  </head>
  <body>
    <div ng-app="app01" ng-controller="controlleur01">
      <input type="text" ng-model="nombre1">
      <input type="text" ng-model="nombre2">
      <select ng-model="operation">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">/</option>
      </select>
      <p>({{calcul(operation)}})</p>
    </div>

    <script>
      var app = angular.module("app01", []);

      app.controller("controlleur001", function($scope) {
        $scope.calcul = function() {
          var res = 0;
          switch (this.operation) {
            case "+":
              res = parseInt(this.nombre1) + parseInt(this.nombre2);
              break;
            case "-":
              res = parseInt(this.nombre1) - parseInt(this.nombre2);
              break;
            case "*":
              res = parseInt(this.nombre1) * parseInt(this.nombre2);
              break;
            case "/":
              res = parseInt(this.nombre1) / parseInt(this.nombre2);
              break;
          }
          return this.nombre1+' '+this.operation+' '+this.nombre2+' = ' +res;
        }
      });
    </script>
  </body>
</html>