<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>TD3</title>
    <script src="angular.min.js"></script>
  </head>
  <body>
    <div ng-app="app01" ng-controller="controlleur01">
      <ul>
        <li ng-repeat="pokemon in pokemons">{{ pokemon.ename }}</li>
      </ul>
    </div>

    <script>
      var app = angular.module("app01", []);

      app.controller("controlleur01", function($scope, $http) {
        $scope.pokemons = [];

        $http.get("https://raw.githubusercontent.com/fanzeyi/Pokemon-DB/master/pokedex.json").then(function(response) {
          if (response.status == 200) {
            $scope.pokemons = response.data;
          }
        })
      });
    </script>
  </body>
</html>