<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>TD3</title>
    <script src="angular.min.js"></script>
  </head>
  <body>
    <div ng-app="app01" ng-controller="controlleur01">
      <form action="">
        <p>Nom : <input type="text" ng-model="nom" required></p>
        <p>Prenom : <input type="text" ng-model="prenom" required></p>
        <p>Age : <input type="number" ng-model="age" required></p>
        <p>Adresse : <input type="text" ng-model="adresse" required></p>
        <p>Mail : <input type="email" ng-model="email" required></p>
        <input type="submit" value="Valider">
      </form>
    </div>

    <script>
      var app = angular.module("FormApp", []);

      app.controller("FormController", function($scope) {

      });
    </script>
  </body>
</html>